<a href="https://colab.research.google.com/github/Marlburo/colab_nb/blob/main/colab_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import os
import glob
from matplotlib import pyplot as plt

In [28]:
housing_test = pd.read_csv("/content/sample_data/california_housing_test.csv")
housing_train = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [30]:
housing_test.describe()

         longitude    latitude  ...  median_income  median_house_value
count  3000.000000  3000.00000  ...    3000.000000          3000.00000
mean   -119.589200    35.63539  ...       3.807272        205846.27500
std       1.994936     2.12967  ...       1.854512        113119.68747
min    -124.180000    32.56000  ...       0.499900         22500.00000
25%    -121.810000    33.93000  ...       2.544000        121200.00000
50%    -118.485000    34.27000  ...       3.487150        177650.00000
75%    -118.020000    37.69000  ...       4.656475        263975.00000
max    -114.490000    41.92000  ...      15.000100        500001.00000

[8 rows x 9 columns]